.edit-item-wrapper {
  width: 80vw;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  max-width: 250px;
  height: 60px;
  margin-top: 10px;
  padding-top: 10px;
  min-height: 250px;
}

.form {
  padding-left: 10px;
}

.update-button {
  padding-left: 10px;
  display: block;
}
